---
layout: layouts/home.njk
eleventyNavigation:
  key: services
  order: 3
numberOfLatestPostsToShow: 3
---


        <!-- end header -->
        <!-- start page title -->
        <section class="page-title-big-typography bg-dark-gray cover-background pb-0 top-space-padding" style="background-image: url(images/demo-beauty-salon-title-bg.jpg)">
            <div class="container">
                <div class="row align-items-center justify-content-center extra-very-small-screen">
                    <div class="col-md-8 position-relative text-center page-title-extra-small" data-anime='{ "el": "childs", "translateY": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="alt-font text-white mb-0">Beauty services</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title --> 
        <!-- start section -->
        <section class="position-relative">
            <div class="position-absolute bottom-0px right-0px d-none d-md-inline-block lg-w-180px"><img src="https://via.placeholder.com/220x210" alt="" /></div>
            <div class="d-none d-md-flex mb-2">
                <a href="#down-section" class="section-link absolute-middle-center top-0">
                    <div class="d-flex justify-content-center align-items-center mx-auto rounded-circle h-70px w-70px fs-22 text-dark-gray bg-white box-shadow-bottom">
                        <i class="ti-mouse"></i>
                    </div>
                </a>
            </div>
            <div class="container">
                <div class="row justify-content-center" data-anime='{ "el": "childs", "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <div class="col-lg-6 col-md-9 mb-5 md-mb-20px text-start text-md-center text-lg-start">
                        <span class="fs-16 text-uppercase text-gradient-san-blue-new-york-red fw-700 mb-10px ls-1px d-inline-block">Luxury beauty services</span>
                        <h2 class="alt-font fw-400 text-dark-gray ls-minus-1px w-80 lg-w-100">Body treatments. skin care beauty.</h2>
                    </div>
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03 mb-4 xs-mb-35px">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray ls-05px">Hair wash and dry</span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03 mb-4 xs-mb-35px">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray ls-05px">Express makeup</span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03 md-mb-5 xs-mb-35px">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray">Haircut by expert</span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03 sm-mb-5 xs-mb-35px">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray">New hair styling</span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03 xs-mb-35px">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray">Wash and plain dry</span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-lg-3 col-md-4 col-sm-6 icon-with-text-style-03">
                        <div class="feature-box text-start overflow-hidden">
                            <div class="feature-box-icon">
                                <img src="https://via.placeholder.com/100x105" class="w-55 mb-25px" alt="" />
                            </div>
                            <div class="feature-box-content last-paragraph-no-margin">
                                <span class="d-inline-block alt-font fs-20 text-dark-gray">Organic skin treatment </span>
                                <p class="w-85 lg-w-100">Lorem is simply dummy text the printing typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end features box item -->
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section class="border-top border-color-extra-medium-gray" id="down-section">
            <div class="container">
                <div class="row justify-content-center align-items-center mb-6" data-anime='{ "el": "childs", "translateY": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                    <div class="col-auto pe-25px border-2 border-end border-color-dark-gray sm-border-end-0 sm-pe-15px">
                        <span class="fs-16 text-uppercase text-gradient-san-blue-new-york-red fw-700 ls-1px">Beauty salon services</span>
                    </div>
                    <div class="col-12 col-md-auto ps-25px sm-ps-15px text-center">
                        <h3 class="alt-font fw-400 text-dark-gray ls-minus-1px mb-0">Makeup and hairstyles</h3>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 transition-inner-all justify-content-center" data-anime='{ "el": "childs", "translateY": [20, 0], "opacity": [0,1], "duration": 600, "delay": 300, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <!-- start fancy text box item -->
                    <div class="col mb-20px">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Hair treatment</span>
                                <p class="lh-26">Advanced hair treatment</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                    <!-- start fancy text box item -->
                    <div class="col mb-20px">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Reflexology</span>
                                <p class="lh-26">Different amounts of pressure</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                    <!-- start fancy text box item -->
                    <div class="col mb-20px">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Makeup</span>
                                <p class="lh-26">Rethink your lash look</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                    <!-- start fancy text box item -->
                    <div class="col md-mb-20px">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Skin care</span>
                                <p class="lh-26">Believe in your beauty</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                    <!-- start fancy text box item -->
                    <div class="col md-mb-20px">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Cosmetology</span>
                                <p class="lh-26">Fabulous in every way</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                    <!-- start fancy text box item -->
                    <div class="col">
                        <div class="services-box-style-01 hover-box">
                            <div class="position-relative box-image border-radius-6px overflow-hidden">
                                <a href="demo-beauty-salon-services.html">
                                    <img src="https://via.placeholder.com/755x510" alt="">
                                    <div class="box-overlay bg-gradient-blue-ironstone-brown"></div>
                                    <span class="d-flex justify-content-center align-items-center mx-auto icon-box absolute-middle-center z-index-1 w-65px h-65px rounded-circle border border-color-transparent-white border-1"><i class="bi bi-arrow-right-short text-white icon-very-medium d-flex"></i></span>
                                </a>
                            </div>
                            <div class="p-25px last-paragraph-no-margin text-center">
                                <span class="fs-22 text-dark-gray alt-font">Grooming</span>
                                <p class="lh-26">Especially crafted to suit</p>
                            </div>
                        </div>
                    </div>
                    <!-- end fancy text box item -->
                </div> 
            </div>
        </section>
        <!-- end section -->
 