{% set leftIcon = leftIcon or 'https://via.placeholder.com/95x125' %}
{% set leftIconLink = leftIconLink or '#' %}
{% set awardText = awardText or 'Best beauty salon award 2023' %}
{% set awardTextLink = awardTextLink or '#' %}
{% set awardDescription = awardDescription or 'Multi award winning beauty salon services.' %}
{% set offerText = offerText or 'Get 20% off on bridal makeup' %}
{% set offerLink = offerLink or '/demo-beauty-salon-story.html' %}
{% set offerIcon = offerIcon or 'bi bi-arrow-right' %}
{% set backgroundColor = backgroundColor or 'bg-yellow' %}

<section class="p-0 position-relative border-bottom border-color-extra-medium-gray">
    <div class="container">
        <div class="w-50 bg-white position-absolute top-minus-40px left-0px text-end">
            <div class="fs-15 lh-30 text-dark-gray pt-5px pb-5px ps-25px pe-25px fw-600 d-inline-block {{ backgroundColor }}">wow awesome!</div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 icon-with-text-style-01 pt-40px pb-40px pe-8 lg-pe-15px xs-pb-30px border-end md-border-end-0 md-border-bottom border-color-extra-medium-gray" data-anime='{ "el": "childs", "translateX": [-30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                <div class="feature-box feature-box-left-icon-middle last-paragraph-no-margin">
                    <a href="{{ leftIconLink }}">
                        <div class="feature-box-icon me-25px">
                            <img src="{{ leftIcon }}" class="h-65px" alt="">
                        </div>
                    </a>
                    <div class="feature-box-content">
                        <h6 class="text-dark-gray fw-400 mb-0 alt-font ls-minus-05px">
                            <a href="{{ awardTextLink }}">{{ awardText }}</a>
                            <span class="text-decoration-line-bottom-medium"></span>
                        </h6>
                        <p>{{ awardDescription }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pt-40px pb-40px xs-pt-30px ps-8 lg-ps-15px" data-anime='{ "el": "childs", "translateX": [30, 1], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue":200, "easing": "easeOutQuad" }'>
                <h6 class="fw-400 mb-0 alt-font">
                    <a href="{{ offerLink }}" class="text-dark-gray text-dark-gray-hover">
                        {{ offerText }}
                        <i class="{{ offerIcon }} align-middle icon-extra-medium position-relative top-3px md-top-0px ms-10px"></i>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</section>
